#pages {
	text-align: left;
	font-family: Poppins, PT Sans, sans-serif;
	font-size: 20px;
	border: 1px solid blue;
}

body {
	font-family: Arial, sans-serif;
}

#title {
	padding: 45px;
	padding-bottom: 0px;
	font-family: inherit;
	font-size: 30px;
	color: red;
	border: 1px solid green;
}

#form {
	margin-top: 35px;
	display: grid;
	grid-template-columns: 13% 35% auto;
	grid-template-rows: 50px 50px 50px 50px 50px 50px;
	border: 1px solid darkred;
}

#find-pages {
	font-family: inherit;
	padding-left: 45px;
	border: 1px solid black;
}

label {
	font-family: inherit;
	padding-left: 45px;
}

#to-do-this {
	font-size: 13px;
	font-weight: bold;
	border: 1px solid red;
}

span {
	font-family: monospace;
	color: #666;
}

#text-box {
	height: 45%;
	width: 90%;
}

.text-box {
	text-align: center;
}

#submit {
	text-align: right;
	height: 30px;
	min-width: 120px;
}